<h2>Edit post</h2>

<form *ngIf="!loading && post !== null" #f="ngForm" (ngSubmit)="submitPost(f.value)">

    <div class="input-wrapper">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="post.title" name="title" id="title">
    </div>

    <div class="input-wrapper">
        <label for="body">Content</label>
        <textarea rows="10" cols="50"  [(ngModel)]="post.body" name="body" id="body"></textarea>
    </div>

    <button mat-raised-button color="primary" submit>Edit</button>

    <div *ngIf="f.submitted && post !== null" class="form-message">
        Post edited with {{ post.id }} id
    </div>

</form>

<ng-container *ngIf="!loading && post === null">
    Cant fecth post data
</ng-container>

