<div class="actions">
    <div>
        <form #f="ngForm" (ngSubmit)="filterPost(f.value)" novalidate>
            <input type="text" name="user" ngModel required placeholder="user">
            <button mat-button>Search</button>
            <button *ngIf="f.submitted" mat-button (click)="f.resetForm(); getPost()">Reset</button>
        </form>
    </div>
    <button mat-raised-button color="accent" [routerLink]="['/post/create']">New</button>
</div>

<ng-container *ngIf="f.submitted && posts.length === 0">
    No post found
</ng-container>

<ng-container *ngFor="let post of posts">
    <mat-card>
        <mat-card-title>{{ post.title}}</mat-card-title>
        <mat-card-subtitle>user: {{ post.userId}}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/post/detail', post.id]">View</button>
            <button mat-raised-button color="primary" [routerLink]="['/post/edit', post.id]">Edit</button>
        </mat-card-actions>
    </mat-card>
</ng-container>