/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    min-height: 100%;
    font-size: 15px;
    line-height: 26px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**
    Header  
 */
.header-container {
    position: sticky;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 1%);
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #1976d2;
}

/**
    Content
 */
.content {
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1.75fr 1fr;
    grid-template-columns: 1.75fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    margin: 2rem 0rem;
}

/**
    footer
 */
footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

/* Global */
.text-bold{
    font-weight: 600;
}

.muted-text{
    color: gray;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}

.input-wrapper label{
    font-weight: 600;
}

.input-wrapper textarea, .input-wrapper input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 16px;
}

.input-wrapper input {
    height: 45px;
}

.form-message{
    font-weight: 600;
    margin: 1rem 0rem;
}